<!DOCTYPE html>
{% extends 'firstapp/base.html' %}
{% block body_block %}

<div class="jumbotron">
  <h1 class="display-4" style="text-align:center;" >About Us</h1>
  <p class="lead">This website  provides information about Expert  doctors available .
  Various Specialities that are present within the cities in Hospitals.
  Information about many test, check ups and diagnostics available nearby them so
  that people can compare their facilities and have comfort finding and comparing them !</p>
</div>


<h1 class="display-4" style="text-align:center;">Your home for health</h1>
<br>
<p class="about1" style="text-align:center;">For millions of people, Practo is the trusted and familiar home where they know they’ll
find a healing touch. It connects them with everything they need to take good care of
themselves and their family - assessing health issues, finding the right doctor, booking
diagnostic tests, obtaining medicines, storing health records or learning new ways to live healthier.
<br>
<br>
Healthcare providers can also harness the power of Practo as the definitive platform that helps them
build their presence, grow establishments and engage patients more deeply than ever.
</p>

  <div class="container">
    <div class="card-group">
      <div class="card">
        <img src="static/images/about1.jpg"  class="card-img-top" alt="Picture">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="static/images/about2.jpg" ] class="card-img-top" alt="Picture">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="static/images/about3.jpg"  class="card-img-top" alt="Picture">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
</div>


{% endblock %}
