<!DOCTYPE html>
{% extends 'firstapp/base.html' %}
{% block body_block %}

<div class="container">

  <div class="card mb-3">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  </div>
</div>





    <div class="container">

      <div class="jumbotron">
      <h1 class="display-4">Say hello to Doctors</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>

    </div>

    <div class="container">
  	<div class="box">
      	                Dr. Inderjit Singh Parmar <br>
                        MBBS, Diploma in Venereology <br>
                        Venereologist, Dermatologist <br>
                        65	Years’ Experience Overall (63 years as specialist)
</div>
  	<div class="box">  	Dr. S.B. Nagori <br>
                        MD - (Med. & Thera.), MBBS <br>
                        Cardiologist<br>
                        47 Years’ Experience Overall
</div>
  	<div class="box">  	Dr. Aparajita Saha<br>
                        BSc - Dietitics / Nutrition, Diploma in Diet and Nutrition Therapist<br>
                        Dietitian/Nutritionist, Sports Nutritionist<br>
                        42 Years’ Experience Overall (42 years as specialist)
</div>
  	<div class="box">  	Dr. Jayashree Reddy<br>
                        MBBS, DGO, MD - Obstetrics & Gynaecology<br>
                        Infertility Specialist, Gynecologist, Laparoscopic Surgeon (Obs & Gyn)<br>
                        41 Years’ Experience Overall (38 years as specialist)
</div>
<div class="box">       MBBS, MD - Dermatology, Diploma in Dermatology<br>
                        Dermatologist, Cosmetologist<br>
                        43 Years’ Experience Overall (40 years as specialist)
</div>
<div class="box">      	Dr. Asha Khatri<br>
                        MD - Obstetrtics & Gynaecology<br>
                        Gynaecologist, Mumbai<br>
                        43 Years’ Experience
</div>
    </div>

{% endblock %}
